* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  color: white;
  font-family: "Barlow", sans-serif;
  line-height: 30px;
}

.menu nav:last-child {
  padding: 10px 25px;
  border-radius: 50px;
  background-color: white;
  font-family: "Fraunces", serif;
  color: black;
  font-size: 15px;
}

.menu nav:hover {
  color: hsl(51, 100%, 49%);
}

.menu nav:last-child:hover {
  color: white;
  background-color: rgb(255, 255, 255, 0.3);
}

#iconMenu,
.menuContainer {
  display: none;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 50px 50px 0;
  font-family: "Fraunces", serif;
  font-size: 38px;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.imgs {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-header {
  background-image: url("./assets/image-header.jpg");
  width: 100%;
}

.arrow-down {
  height: 70px;
  width: 20px;
  margin-top: 50px;
  margin-bottom: 300px;
}

/* --- MAIN --- */

main {
  text-align: left;
}

main section {
  padding: 180px 120px;
  max-width: 50%;
}

main h3 {
  font-size: 40px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-style: bold;
}

main p {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-size: 17px;
  line-height: 30px;
  margin: 30px 0 40px 0;
}

strong {
  margin-top: 30px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-style: bold;
  color: hsl(212, 27%, 19%);
  position: relative;
  z-index: 3;
}

.text-learnMore {
  position: relative;
  display: inline;
  max-height: 20px;
  align-content: center;
  z-index: 2;
}

.text-highlight {
  background-color: hsl(52, 90%, 85%);
  position: absolute;
  display: inline;
  left: 0;
  transform: translateX(-5%);
  margin-top: 13px;
  height: 10px;
  width: 110%;
  z-index: 1;
  border-radius: 10px;
}

.text-learnMore a {
  text-decoration: none;
}

.image-graphic-design {
  position: relative;
}

.image-graphic-design section {
  bottom: 0;
  padding: 60px 12px 0;
  position: absolute;
}

.image-graphic-design p,
.image-graphic-design h3 {
  color: hsl(167, 40%, 24%);
}

.image-photography {
  position: relative;
}

.image-photography section {
  bottom: 0;
  padding: 0 70px 0;
  position: absolute;
}

.image-photography p,
.image-photography h3 {
  color: hsl(198, 62%, 26%);
}

.container-transform {
  display: flex;
  flex-direction: row-reverse;
}

.container-transform section {
  flex: 1;
}

.container-transform .text-highlight {
  background-color: hsl(51, 100%, 90%);
}

.container-transform .text-highlight:hover {
  background-color: hsl(51, 100%, 49%);
}

.image-transform {
  background-image: url("./assets/image-transform.jpg");
  flex: 1;
}

.container-stand-out {
  display: flex;
}

.container-stand-out section {
  flex: 1;
}

.container-stand-out .text-highlight {
  background-color: hsl(9, 99%, 90%);
}

.container-stand-out .text-highlight:hover {
  background-color: hsl(7, 99%, 70%);
}

.image-stand-out {
  background-image: url("./assets/image-stand-out.jpg");
  flex: 1;
}

.container-graphic-design-photography {
  display: flex;
  height: 100vh;
  text-align: center;
}

.container-graphic-design-photography section {
  max-width: unset;
  padding: 10px 140px;
}

.image-graphic-design {
  background-image: url("./assets/image-graphic-design.jpg");
  flex: 1;
}

.image-photography {
  background-image: url("./assets/image-photography.jpg");
  flex: 1;
}

/* --- CLIENT TESTIMONIALS --- */

aside {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  padding: 150px;
}

.client-testimonials {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

aside div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside h4 {
  font-weight: 900;
  letter-spacing: 3px;
  font-family: "Fraunces", serif;
}

aside img {
  border-radius: 100%;
  width: 50px;
  margin: 50px 0;
}

aside p {
  color: hsl(213, 9%, 39%);
  line-height: 30px;
  margin-bottom: 30px;
}

aside span {
  font-size: smaller;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  height: 450px;
  background-color: rgb(46, 146, 146);
  gap: 0;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* --- GALLERY --- */

.milkbottles {
  background-image: url("./assets/image-gallery-milkbottles.jpg");
  background-color: rgb(42, 247, 247);
  height: 100%;
  width: 100%;
}

.img-orange {
  background-image: url("./assets/image-gallery-orange.jpg");
  background-color: rgb(42, 247, 247);
  height: 100%;
  width: 100%;
}

.cone {
  background-image: url("./assets/image-gallery-cone.jpg");
  background-color: rgb(42, 247, 247);
  height: 100%;
  width: 100%;
}

.sugar-cubes {
  background-image: url("./assets/image-gallery-sugarcubes.jpg");
  background-color: rgb(42, 247, 247);
  height: 100%;
  width: 100%;
}

/* --- FOOOTER --- */

footer {
  background: #92d6c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 70px;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

.section-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0 70px;
  gap: 50px;
  color: hsl(168, 34%, 41%);
}

footer h3 img {
  display: flex;
  width: 140px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-medias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap:30px;
}

nav{
  cursor: pointer;
}

footer nav:hover,
.svg-container:hover .socialicon path {
  color: white;
  fill: white;
}

.socialicon path {
  transition: fill 0.3s ease;
}

.arrow-down {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: arrow-down;
  animation-timing-function: linear;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

/* --- MEDIA QUERIES --- */

@media (max-width: 750px) {
  .arrow-down {
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 140px;
  }

  .image-header {
    background-image: url("./assets/mobile/image-header.jpg");
    width: 100%;
  }

  main {
    flex-wrap: wrap;
    text-align: center;
  }

  main section {
    flex: 0 0 100%;
    padding: 60px 30px;
    max-width: 100%;
  }

  main h3 {
    font-size: 30px;
  }

  .container-transform {
    display: unset;
  }

  .container-stand-out {
    display: unset;
  }

  .image-transform {
    background-image: url("./assets/mobile/image-transform.jpg");
    width: 100%;
    height: 320px;
  }

  .image-stand-out {
    background-image: url("./assets/mobile/image-stand-out.jpg");
    width: 100%;
    height: 320px;
  }

  .image-graphic-design {
    background-image: url("./assets/mobile/image-graphic-design.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .image-photography {
    background-image: url("./assets/mobile/image-photography.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .container-graphic-design-photography {
    display: unset;
  }

  .container-graphic-design-photography section {
    max-width: unset;
    padding: 0 15px;
  }

  /* --- CLIENT TESTIMONIALS --- */

  aside {
    padding: 50px 40px 80px;
  }

  aside img {
    margin: 50px 0 20px;
  }

  aside p {
    margin-bottom: 0;
  }

  .client-testimonials {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  /* --- GALLERY --- */

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    height: 300px;
  }

  .milkbottles {
    background-image: url("./assets/mobile/image-gallery-milkbottles.jpg");
  }

  .img-orange {
    background-image: url("./assets/mobile/image-gallery-orange.jpg");
  }

  .cone {
    background-image: url("./assets/mobile/image-gallery-cone.jpg");
  }

  .sugar-cubes {
    background-image: url("./assets/mobile/image-gallery-sugar-cubes.jpg");
  }

  .menu {
    display: none;
  }

  #iconMenu {
    display: block;
  }

  .menuContainer {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
  }

  .menuHamburger {
    position: relative;
    margin: 0 auto 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 271px;
    font-family: "Barlow", sans-serif;
    color: hsl(232, 10%, 55%);
    font-size: 17px;
    line-height: 30px;
  }

  .triangle {
    width: 300px;
    height: 20px;
    margin-top: 60px;
    border-top: 25px solid transparent;
    border-bottom: -25px solid transparent;
    border-right: 25px solid white;
  }

  .menuHamburger nav:last-child {
    padding: 10px 25px;
    border-radius: 50px;
    background-color: hsl(51, 100%, 49%);
    font-family: "Fraunces", serif;
    color: black;
    font-size: 15px;
  }

  .menuHamburger nav:hover {
    color: black;
  }

  @keyframes menu-open {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(60px);
    }
  }

  @keyframes menu-close {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-60px);
      opacity: 0;
    }
  }
}
